if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBL_BOARD]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBL_BOARD]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBL_REPLY]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBL_REPLY]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBL_TOPIC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBL_TOPIC]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TBL_USER]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[TBL_USER]
GO

CREATE TABLE [dbo].[TBL_BOARD] (
	[boardId] [int] NOT NULL ,
	[boardName] [varchar] (50) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[parentId] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBL_REPLY] (
	[replyId] [int] IDENTITY (1, 1) NOT NULL ,
	[title] [varchar] (50) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[content] [varchar] (1000) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[publishTime] [datetime] NOT NULL ,
	[modifyTime] [datetime] NOT NULL ,
	[uid] [int] NOT NULL ,
	[topicId] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBL_TOPIC] (
	[topicId] [int] IDENTITY (1, 1) NOT NULL ,
	[title] [varchar] (50) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[content] [varchar] (1000) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[publishTime] [datetime] NOT NULL ,
	[modifyTime] [datetime] NOT NULL ,
	[uId] [int] NOT NULL ,
	[boardId] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TBL_USER] (
	[uId] [int] IDENTITY (1, 1) NOT NULL ,
	[uName] [varchar] (20) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[uPass] [varchar] (20) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[head] [varchar] (100) COLLATE Chinese_PRC_CI_AS NOT NULL ,
	[regTime] [datetime] NOT NULL ,
	[gender] [smallint] NOT NULL 
) ON [PRIMARY]
GO

